body {
	padding-top: 50px;
	background-image: url("wallpaper.jpg");
	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
}
*{
	color: #fff;
	font-size: 105%;
}
.principal {
	padding: 40px 15px;
	text-align: center;
}

#deslogar a:link,
#deslogar a:visited,
#deslogar a:hover,
#deslogar a:active  {
   text-decoration: none;
   color: #fff;
}
h1{
	padding-bottom: 20px;
}
.mostra-alerta{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.option{
	color: #605e5e;
}